*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #e4bdc7 !important;
    font-family: cursive!important;
    
}

#logo{
    width: 5%;
    height: 100px;
    display: flex;
}

.img-redimensionada {
    max-height: 600px;
    width:max-content;
    display: flex;
  }
body {
    
    background-image: url(imagens/buquê\ de\ noiva\ b.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
    font-family: Arial, sans-serif;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .login-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 300px;
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }



